<div class="footer p-4 d-flex justify-content-between text-white">
    <div class="d-flex">
        <div class="d-flex">
            <div class="bg-light rounded-circle px-2 mx-1 spanFooter"><i class="fa fa-facebook"></i></div>
            <div class="bg-light rounded-circle px-2 mx-1 spanFooter"><i class="fa fa-twitter"></i></div>
            <div class="bg-light rounded-circle px-2 mx-1 spanFooter"><i class="fa fa-linkedin"></i></div>
        </div>
        <div>سياسة الخصوصية | الشروط والاحكام</div>
    </div>
    <div class="d-flex">
        <div class="mx-2">جميع الحقوق محفوظة - انوسوفت 2021 | </div>
        <div class="hiddenText">جميع الحقوق محفوظة</div>
    </div>

</div>