$primary-color:#009EE2;
.footer{
    background-color: $primary-color;
    
    i{
        color: $primary-color;
    }
  .hiddenText{
    color: $primary-color;
  }

}

.spanFooter{
    width: 25px;
    height: 25px;
}