<div id="opportunities" class="opportunities text-end">
    <div class="background bg-dark d-flex justify-content-around p-5">

        <div class="card" style="width: 18rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/beach.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">عشان احب الشرقية</h5>
                <p class="card-text">لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل </p>

            </div>
        </div>
        <div class="card" style="width: 18rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/beach.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">عشان احب الشرقية</h5>
                <p class="card-text">لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل </p>

            </div>
        </div>
        <div class="card" style="width: 18rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/beach.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">عشان احب الشرقية</h5>
                <p class="card-text">لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل </p>

            </div>
        </div>
        <div class="text-white d-flex flex-column justify-content-around text-end">
            <div>فرص</div>
            <div>ما هو "لوريم ابسيوم"؟</div>
            <div>
                <button type="button" class="btn btn-primary">جميع الفرص</button>
            </div>
        </div>

    </div>
</div>