<div id="acheivements" class="text-center">
    <h1 class="py-1">الانجازات</h1>
    <div class="py-1">صور والاثر يتحدث</div>
    <div class="py-1">هناك حقيقة مثبتة منذ زمن طويل و هى أن المحتوى المقروء لصفحة سيلهى القارئ عن التركيز على الشكل
    </div>
    <ngb-carousel *ngIf="images" id="carouselID">
        <ng-template ngbSlide class="w-100">
            <div class="picsum-img-wrapper">
                <img src="../../assets/city.jpg" alt="Random first slide" style="width: 100%; height: 50vh">
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/beach.jpg" alt="Random second slide" style="width: 100%; height: 50vh">
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/reg.jpg" alt="Random third slide" style="width: 100%; height: 50vh">
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>