<div id="partnerships" class="partnerships d-flex flex-column justify-content-around text-center p-5">
    <h1>الشراكات</h1>
    <carousel>
        <div class="carousel-cell">
            <img src="../../assets/HTML5.png">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/logo-css3.png.crdownload">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/javascript-logo.png">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/Angular.png.crdownload">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/react_logo.png">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/vue-js.png">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/node-js-icon-15.jpg">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/Webpack.png">
        </div>
        <div class="carousel-cell">
            <img src="../../assets/gulp.png">
        </div>
    </carousel>
</div>