<form id="contact" class="contact p-5 text-center">
    <h1>تواصل معنا</h1>
    <div class="form-group form-check d-flex py-3">
        <input type="text" class="form-control text-end" id="name" placeholder="الاسم">
        <input type="email" class="form-control text-end" id="Email" aria-describedby="emailHelp"
            placeholder="البريد الالكترونى">
    </div>
    <div class="form-group form-check py-3">
        <textarea class="form-control text-end" id="exampleFormControlTextarea1" rows="3"
            placeholder="رسالتك"></textarea>

    </div>

    <div class="form-group form-check text-end">
        <button type="submit" class="btn btn-primary px-5">ارسال</button>
    </div>
</form>