<div id="goalsContainer" class="goalsContainer">
    <div class="goals p-4 mx-5 text-center position-relative d-flex justify-content-center">
        <h1 class="text-white">المزايا و الاهداف</h1>
        <div class="d-flex justify-content-center cardContainer position-absolute">
            <div class="bg-light rounded shadow-sm cardGoal mx-3 p-4 text-end">
                <h3>فرص</h3>
                لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
                كانت
                تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...
            </div>
            <div class="bg-light rounded shadow-sm cardGoal mx-3 p-4 text-end">
                <h3>مبادرات</h3>
                لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
                كانت
                تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...
            </div>
        </div>
    </div>
</div>